<!doctype html>

<html lang="en">

    <head>

        <title>Search Results</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles/bootstrap.css"/>
        <link rel="stylesheet" href="../styles/main.css" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script src="../scripts/index.js"></script>
        <script src="../scripts/searchResults.js"></script>

        <script src="../vendor/angular.ng-modules.js"></script>
        <script src="../scripts/indexApp.js"></script>

    </head>

    <body>

    <div ng-app="indexApp">
        <header></header>
        <br><br><br>
        <div class="container" id="search-results-content">
            <h2>Wait times for restaurants near you.</h2>
            <br><br>
            <template id="restaurant-card-template">
                <div class="panel panel-default" id="restaurant-card">
                    <div class="panel-heading">
                        <a href="#"><h4 id="restaurant-name"></h4></a>
                    </div>
                    <div class="panel-body">
                        <div class="wait-time">wait time goes here</div>
                        <div class="rating">ratings go here</div>
                        <div class="address">address goes here</div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    </body>

</html>