<!doctype html>

<html lang="en">

    <head>

        <title>Search Results</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../styles/bootstrap.css"/>
        <link rel="stylesheet" href="../styles/main.css" type="text/css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script type="text/javascript" src="//d1l4stvdmqmdzl.cloudfront.net/3.9.6/mongoose.js"></script>
        <script src="../scripts/index.js"></script>
        <script src="../scripts/searchResults.js"></script>

        <script src="../vendor/angular.ng-modules.js"></script>
        <script src="../scripts/indexApp.js"></script>

        <style>

            a:hover {
                text-decoration: none;
            }

            h5 {
                font-weight: 600;
            }

            h3 {
                font-size: 16px;
                font-weight: 300;
            }

        </style>

    </head>

    <body>

    <div ng-app="indexApp">
        <header></header>
        <br><br><br>
        <div class="container" id="search-results-content">
            <h2>Wait times for restaurants near you.</h2>
            <h3 id="num-results"></h3>
            <br><br>
            <template id="restaurant-card-template">
                <div class="panel panel-default" id="restaurant-card">
                    <div class="panel-body">
                        <table id="card-content">
                            <tr>
                                <td>
                                    <img alt="img" src="" id="merch-logo">
                                </td>
                                <td>
                                    <a href="#"><h4 id="restaurant-name"></h4></a>
                                    <h5 id="location"></h5>
                                    <h5 id="phone-number"></h5>
                                </td>
                                <td>
                                    <p id="rating"></p>
                                </td>
                            </tr>
                        </table>
                        <div id="wait-time-status" style="float:right; display:inline;">
                            <p style="color:#FFFFFF; font-weight:300;">EST. WAIT</p>
                            <h4 id="wait-time"></h4>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    </body>

</html>