body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #666666;
    background-color: #F4F4F4;
    margin-bottom: 60px;
}

h3 {
    font-weight: 300;
}

.navbar {
    background-color: #C0392B;
}