a {
    color: #C0392B;
}

a:hover {
    color: #C0392B;
    text-decoration: underline;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #666666;
    background-color: #F4F4F4;
    margin-bottom: 60px;
}

.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#error-message-content {
    margin-top: 100px;
}

#error-message-panel {
    width: 60%;
    padding: 20px 10px 20px 10px;
}

#homepage-body {
    margin-top: 10%;
    margin-left: 30%;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #C0392B;
    height: 70px;
    border: none;
}

.navbar-brand {
    margin-top: 10px;
    font-size: 20px;
}

.ratings{
    text-align: right;
}

#return-to-search-btn {
    font-family: "Open Sans", sans-serif;
    border-color: #C0392B;
    border-width: 2px;
    color: #FFFFFF;
    background-color: #C0392B;
}

#return-to-search-btn:hover {
    background-color: #e74c3c;
}

#search-btn {
    font-family: "Open Sans", sans-serif;
    border-color: #C0392B;
    border-width: 2px;
    color: #FFFFFF;
    background-color: #C0392B;
}

#search-btn:hover {
    background-color: #e74c3c;
}

#search-input {
    -webkit-box-shadow: 0 8px 6px -6px #666666;
    -moz-box-shadow: 0 8px 6px -6px #666666;
    box-shadow: 0 8px 6px -6px #666666;
}

#search-results-body {
    margin-top: 5%;
}